a {cursor: pointer}
img { max-width: 100% }

dt {
  margin-top: 1em;
  font-weight: bold;
  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: 720px) {
  html, body, div[ng-view] { height: 100% }
  section {
    max-height: 100%;
    overflow: hidden;
    .image { max-width: 40%; margin-right: 5% }
  }
}
