<div class="m-slide">
  <h1 class="l-top">
    Hello, World.
  </h1>
  <h2 class="l-bottom">
    I'm Neil.
  </h2>
  <div class="image" data-top="filter: blur(0px);" data-top-bottom="filter: blur(15px);" style="background-image:url(/images/headshot-centered-1.jpg)"></div>
</div>

<div class="m-slide l-centered">
  <h2>Improv comedian.</h2>
  <div class="image" data-top="filter: blur(0px);" data-top-bottom="filter: blur(15px);" style="background-image:url(/images/improv.jpg)"></div>
</div>

<div class="m-slide l-centered">
  <h2>Marathon runner.</h2>
  <div class="image" data-top="filter: blur(0px);" data-top-bottom="filter: blur(15px);" style="background-image:url(/images/marathon-centered.jpg)"></div>
</div>

<div class="m-slide l-centered">
  <h2>Full stack engineer.</h2>
  <div class="image" data-top="filter: blur(0px);" data-top-bottom="filter: blur(15px);" style="background-image:url(/images/logos.jpg)"></div>
</div>

<div class="m-slide t-professional">
  <h3>Past Projects</h3>
  <dl>
    <dt>
      <a href="https://splice.com/henryfong/henry-fong-j-trick-scream-original-mix" target="_blank">Splice</a>
    </dt>
    <dd>
      A platform for music producers dubbed the <a href="http://techcrunch.com/2014/09/17/splice-music-collaboration/">"Github for Music"</a>
    </dd>
    <dt>
      <a href="https://groupme.com">GroupMe</a>
    </dt>
    <dd>
      Group Messaging App <a href="http://techcrunch.com/2012/05/11/from-disrupt-ny-to-a-43-million-skype-acquisition-groupme-tells-all/">acquired by Skype in 2010</a>.
    </dd>
  </dl>

  <h3>Elsewhere</h3>

  <ul class="m-social">
    <li class="t-instagram">
      <img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/2dc26eb/images/ico/favicon.ico" />
      <a href="https://instagram.com/neilsarkar">@neilsarkar</a>
    </li>
    <li class="t-hypem">
      <img src="http://hypem.com/favicon.ico" />
      <a href="http://hypem.com/neilsarkar">@neilsarkar</a>
    </li>
    <li class="t-twitter">
      <img src="https://twitter.com/favicon.ico" />
      <a href="https://twitter.com/neilsarkar">@neilsarkar</a>
    </li>
    <li class="t-tumblr">
      <img src="https://tumblr.com/favicon.ico" />
      <a href="http://dumbchef.tumblr.com">@dumbchef</a>
    </li>
    <li class="t-facebook">
      <img src="https://www.facebook.com/favicon.ico" />
      <a href="https://www.facebook.com/awesomeneil">Neil Sarkar</a>
    </li>
    <li class="t-github">
      <img src="https://github.com/favicon.ico" />
      <a href="https://github.com/neilsarkar">@neilsarkar</a>
    </li>
    <li class="t-snapchat">
      <img src="https://www.snapchat.com/favicon.ico" />
      <a href="https://snapchat.com/neilsarkar">@neilsarkar</a>
    </li>
    <li class="t-tinder">
      <img src="http://www.gotinder.com/favicon.ico" />
      Los Angeles
    </li>
  </ul>
</div>
