<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section></section>

      <h1>Hello, World.</h1>

      <img src="/dist/images/headshot.jpg" />
      <h2>I'm Neil. I'm a full stack developer and improv comedian.</h2>

      <p>
        I built the <a href="https://groupme.com">GroupMe</a> and <a href="https://splice.com">Splice</a> web apps.
      </p>

      <p>
        I'm on <a href="https://instagram.com/neilsarkar">Instagram</a>, <a href="http://hypem.com/neilsarkar">Hype Machine</a>, <a href="https://twitter.com/neilsarkar">Twitter</a>, <a href="http://dumbchef.tumblr.com">Tumblr</a>, <a href="https://www.facebook.com/awesomeneil">Facebook</a>, <a href="https://github.com/neilsarkar">GitHub</a> and Tinder.
      </p>

      <p>
        I've run the New York and Los Angeles Marathon.
      </p>

      <p>
        I've been doing improv comedy for the last 4 years. There is no record of this.
      </p>

      <p>
        My favorite fiction book is The Old Man and The Sea. My favorite non-fiction book is Don't Make Me Think.
      </p>

      <p>
        Design principles

        * highlight by subtraction
        * visual hardware vs software
        * you should be able to delete anything you create
        * build the mobile experience first and think of your desktop app as progressive enhancement
        * if you do something non-standard, you better have a damn good reason
        * get past the lizard brain

        I believe in brevity. I believe in respecting the precious milliseconds that people choose to spend on your app. I believe in deletion.
      </p>

      <p>
        Architecture principles

        * angular -- make everything a directive
        * closures -- use em
        * duplicate and then merge
        * explicit over implicit
        * composability over inheritance
      </p>

      <p>
        Teamwork principles

        * keep it light
        * keep it exciting
        * be friends
      </p>
    </div>
  </div>
</div>
