<div id="progress" data-0="width:0%;" data-end="width: 100%;" class="skrollable"></div>

<div class="slide" style="background-image:url(/dist/images/headshot.jpg)">
  <h1>
    Hello World.
  </h1>
  <h2>I'm Neil.</h2>
  <h2>I'm a full stack engineer.</h2>
  <h2>I'm extraordinarily chill.</h2>
</div>

<div class="slide" style="background-image:url(/dist/images/marathon.jpg)">
  <h2>I've run the New York and LA Marathons.</h2>
</div>

<!-- TODO: use photo from monoscenes -->
<div class="slide" style="background-image:url(/dist/images/footage-not-found.jpg)">
  <h2>I've been doing improv comedy for the last 4 years.</h2>
</div>
  
<a class="slide" href="https://splice.com/henryfong/henry-fong-j-trick-scream-original-mix/3CB336B8-71CB-4366-86FD-1D18E60F5594/dna" target="_blank" style="background-image:url(/dist/images/splice-dna-player.png)">
  <h2>I work at Splice.</h2>

  <h2>Click anywhere on this image for a demo</h2>
</a>

<a class="slide" href="https://groupme.com" target="_blank" style="background-image:url(/)">
