<section autoheight layout layout-phone="column">
  <div class="image">
    <img src="/dist/images/headshot.jpg" />
  </div>
  <div flex layout-padding>
    <h1>Hello, World.</h1>
    <h2>I'm Neil.</h2>
    <h2>I'm a full stack engineer.</h2>
    <h2>I'm extraordinarily chill.</h2>
  </div>
</section>

<section layout layout-phone="column">
  <div class="image">
    <img src="/dist/images/footage-not-found.jpg" />
  </div>
  <div flex layout-padding>
    <h2>
      I've been doing improv comedy for the last 4 years.
    </h2>
    <h2>
      There is no record of this.
    </h2>
  </div>
</section>

<section layout layout-phone="column">
  <div class="image">
    <img src="/dist/images/marathon.jpg" />
  </div>
  <div flex layout-padding>
    <h2>
      I've run the New York and Los Angeles Marathons.
    </h2>
  </div>
</section>

<section layout layout-phone="column">
  <div flex layout-padding>
    <h2>I work at Splice.</h2>

    <a href="https://splice.com/henryfong/henry-fong-j-trick-scream-original-mix/3CB336B8-71CB-4366-86FD-1D18E60F5594/dna">
      <img src="/dist/images/splice-dna-player.png" />
    </a>

    <p>I'm responsible for the website...everything from architecture to UX to scaling to building to testing.</p>
  </div>
</section>

<section layout layout-phone="column">
  <div flex layout-padding>
    <h2>I used to work at GroupMe.</h2>

    <a href="https://groupme.com">
      <img src="/dist/images/groupme.png" />
    </a>

    <p>I worked at GroupMe for three years and met many of my current best friends there. I came on before the acquisition. I made the website! Three times, actually. First in rails, then in backbone, and finally in angular.</p>
  </div>
</section>

<md-subheader>"Personal Brand"</md-subheader>
<section layout layout-phone="column">
  <div>
    <img src="/dist/images/headshot.jpg" />
  </div>
  <div flex layout-padding>
    <p>
    </p>
  </div>
</section>
