<img class="cool" src="/dist/images/headshot.jpg" data-0="opacity: 1" data-100="opacity: 0"/>

<div class="slide">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<img class="nice" src="/dist/images/marathon.jpg" data-0="opacity: 0" data-100="opacity: 1"/>

<div class="slide">
  <p>
    Bacon ipsum dolor amet venison meatball shoulder boudin. Jerky swine turducken strip steak kielbasa tongue. Brisket picanha ball tip frankfurter capicola. Beef ribs flank prosciutto doner sausage tri-tip biltong chicken pastrami. Kevin filet mignon meatloaf kielbasa rump, pastrami sausage porchetta leberkas spare ribs.
  <p>
    Cow leberkas rump, andouille shankle tri-tip hamburger. Kevin beef ribs ham hock boudin, sausage ham ground round kielbasa shank pastrami capicola strip steak swine bresaola fatback. Ball tip flank pork chop biltong frankfurter prosciutto. Short ribs salami shank pork chop fatback biltong. Pork loin beef kevin, shank brisket jerky drumstick. Turkey cupim bresaola jowl beef.
  </p>
  <p>
    Bacon ipsum dolor amet venison meatball shoulder boudin. Jerky swine turducken strip steak kielbasa tongue. Brisket picanha ball tip frankfurter capicola. Beef ribs flank prosciutto doner sausage tri-tip biltong chicken pastrami. Kevin filet mignon meatloaf kielbasa rump, pastrami sausage porchetta leberkas spare ribs.
  <p>
    Cow leberkas rump, andouille shankle tri-tip hamburger. Kevin beef ribs ham hock boudin, sausage ham ground round kielbasa shank pastrami capicola strip steak swine bresaola fatback. Ball tip flank pork chop biltong frankfurter prosciutto. Short ribs salami shank pork chop fatback biltong. Pork loin beef kevin, shank brisket jerky drumstick. Turkey cupim bresaola jowl beef.
  </p>
  <p>
    Bacon ipsum dolor amet venison meatball shoulder boudin. Jerky swine turducken strip steak kielbasa tongue. Brisket picanha ball tip frankfurter capicola. Beef ribs flank prosciutto doner sausage tri-tip biltong chicken pastrami. Kevin filet mignon meatloaf kielbasa rump, pastrami sausage porchetta leberkas spare ribs.
  <p>
    Cow leberkas rump, andouille shankle tri-tip hamburger. Kevin beef ribs ham hock boudin, sausage ham ground round kielbasa shank pastrami capicola strip steak swine bresaola fatback. Ball tip flank pork chop biltong frankfurter prosciutto. Short ribs salami shank pork chop fatback biltong. Pork loin beef kevin, shank brisket jerky drumstick. Turkey cupim bresaola jowl beef.
    <br /><br /><br /><br />
  </p>
</div>

<style type="text/css">
/*  img.cool { position: fixed; top: 0; width: 100%;}
  img.nice { position: fixed; top: 0; width: 100%;}
  .slide   { position: relative; z-index: 1; color: white; text-shadow: 0 0 2px rgba(0,0,0,0.9); background-color: rgba(0,0,0,0.5); margin-top: 200px;}
*/</style>
