<div id="progress" data-0="width:0%;" data-end="width: 100%;"></div>

<div class="m-slide">
  <h1 class="done">
    Focus/blur transition
  </h1>
  <div class="image debug" data-0="filter: blur(0px);" data-400="filter: blur(15px);" style="background-image:url(/dist/images/dontcare.jpg)"></div>
</div>

<div class="m-slide" style="background-color: #442266">
  <h1 class="l-bottom done">
    Bottom text
  </h1>
  <h1 class="l-top done">
    Top text
  </h1>
</div>

<div class="m-slide l-centered" style="background-color: #664422">
  <h1 class="done">Centered Text</h1>
</div>

<div class="m-slide" style="background-image: url(/dist/images/shh.jpg)">
  <h1>
    Full height images
  </h1>
</div>

<div class="m-slide">
  <h1>
    Relative transition for a fixed element
  </h1>
  <div class="image debug" data-top="filter: blur(0px);" data-top-bottom="filter: blur(15px);" style="background-image:url(/dist/images/dontcare.jpg)"></div>
</div>

<div class="m-slide" style="background-image: url(/dist/images/dontcare.jpg)">
  <h1>Sticky background with lots o' content</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
